h1{
    font-size: $xxx-large;
    font-weight: $fw-bold;
  }

  .navbar__brand {
    font-size: $xx-large;
    font-weight: $fw-bold;
  }

  .newsletter h2 {
    font-size: $xx-large;
  }

  .group input,
.group button {
  font-size: $x-small;
}
  