// Color Scheme

// First
$black: #000;
$white: #fff;
$gray: gray;

// Second
$light-gray:#f2f4f5;
$coral: coral;
$steelblue: steelblue;

// Font
$mono: monospace;

$fw-bold: bold;

// Font-Size
$xxx-large: 32px;
$xx-large: 24px;
$x-large: 20px;
$large: 18px;
$medium: 16px;
$small: 14px;
$x-small: 12px;






